header {
    padding: 10px 0;
    box-shadow: 0px -2px 6px var(--primary-color);
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    z-index: 5;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo img {
    max-width: 60px;
    border-radius: 50%;
}

/* ---------------nav links--------------- */

header nav {
    display: flex;
    place-items: center;
    gap: 30px;
}


header nav ul {
    display: flex;
    gap: 1.25rem;
    place-items: center;
}

header .bars {
    color: var(--primary-color);
    font-size: 25px;
    display: none;
    cursor: pointer;
}

@media (width<=776px) {
    header nav ul {
        position: absolute;
        transition: .2s;
        flex-direction: column;
        text-align: center;
        top: 100%;
        color: black;
        z-index: 100;
        background: white;
        padding: 20px;
        width: 100%;
        height: 100vh;
    }

    header .bars {
        display: block;
    }

    header nav {
        gap: 1rem;
    }

}

header nav ul li {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
}

header nav ul li.chocien {
    color: var(--active-color);
}


header nav ul li a.active {
    color: var(--active-color);
}