@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color : #11325B;
    --second-color : #33BCD3;
    --active-color : #FF5757
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Outfit;
}

.container {
    @apply mx-auto w-full px-[10px] md:w-[590px] md:w-[700px] lg:w-[980px] xl:w-[1200px] !important;
}


.grid-Container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (width<= 667px) {
    .gridContainer {
        grid-template-columns: auto;
    }
}
